In [1]:
import numpy as np
import pandas as pd

In [2]:
pk = pd.read_csv("pokemon.csv")

In [3]:
pk.reset_index()

,index,id,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,img_scr
0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,images/bulbasaur.png
1,1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,images/ivysaur.png
2,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,images/venusaur.png
3,3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,NaN
4,4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,images/charmander.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,NaN
796,796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,NaN
797,797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,NaN
798,798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,NaN
799,799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,NaN

In [4]:
df = pk[pk['Name'].str.contains('Darkrai')]
print(df.id)

549    491
Name: id, dtype: int64

In [9]:
 pk = df.append(pk)

C:\Users\Vinayak\AppData\Local\Temp\ipykernel_25120\3586660083.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pk = df.append(pk)

In [10]:
pk = pk.drop_duplicates(subset='id')

In [11]:
pk['Type_1'].value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Dark         28
Poison       28
Fighting     25
Dragon       24
Ghost        23
Ice          23
Steel        22
Fairy        17
Flying        3
Name: Type_1, dtype: int64

In [12]:
stat = pd.DataFrame(pk[['''HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']])

In [13]:
stat

      HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
549   70      90       90      135       90    125
0     45      49       49       65       65     45
1     60      62       63       80       80     60
2     80      82       83      100      100     80
4     39      52       43       60       50     65
..   ...     ...      ...      ...      ...    ...
793  126     131       95      131       98     99
794  108     100      121       81       95     95
795   50     100      150      100      150     50
797   80     110       60      150      130     70
799   80     110      120      130       90     70

[721 rows x 6 columns]

In [14]:
def cal_distance(x):      
    a = x.to_numpy()
    b = stat.to_numpy()    
    distance = np.sqrt(sum([(a - b) ** 2 for a, b in zip(a, b[0])]))
    return distance

In [15]:
pk['distance'] = pk[['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']].apply(cal_distance,axis=1)

In [16]:
pk = pk.sort_values('distance',ascending=True)

In [17]:
pk.reset_index()

,index,id,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,img_scr,distance
0,549,491,Darkrai,Dark,NaN,600,70,90,90,135,90,125,4,True,NaN,0.000000
1,419,381,Latios,Dragon,Psychic,600,80,90,80,130,110,110,3,True,NaN,29.154759
2,713,647,KeldeoOrdinary Forme,Water,Fighting,580,91,72,90,129,90,108,5,False,NaN,33.015148
3,157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True,NaN,33.911650
4,262,243,Raikou,Electric,NaN,580,90,85,75,115,100,115,2,True,NaN,35.355339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716,217,202,Wobbuffet,Psychic,NaN,405,190,33,58,33,58,33,2,False,NaN,196.379734
717,488,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False,NaN,198.494332
718,261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False,NaN,239.895811
719,121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False,NaN,250.399681
720,230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,NaN,279.508497

In [18]:
print(pk)

      id                  Name    Type_1    Type_2  Total   HP  Attack  \
549  491               Darkrai      Dark       NaN    600   70      90
419  381                Latios    Dragon   Psychic    600   80      90
713  647  KeldeoOrdinary Forme     Water  Fighting    580   91      72
157  145                Zapdos  Electric    Flying    580   90      90
262  243                Raikou  Electric       NaN    580   90      85
..   ...                   ...       ...       ...    ...  ...     ...
217  202             Wobbuffet   Psychic       NaN    405  190      33
488  440               Happiny    Normal       NaN    220  100       5
261  242               Blissey    Normal       NaN    540  255      10
121  113               Chansey    Normal       NaN    450  250       5
230  213               Shuckle       Bug      Rock    505   20      10

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary img_scr  \
549       90      135       90    125           4       True     NaN
419       80      130      110    110           3       True     NaN
713       90      129       90    108           5      False     NaN
157       85      125       90    100           1       True     NaN
262       75      115      100    115           2       True     NaN
..       ...      ...      ...    ...         ...        ...     ...
217       58       33       58     33           2      False     NaN
488        5       15       65     30           4      False     NaN
261       10       75      135     55           2      False     NaN
121        5       35      105     50           1      False     NaN
230      230       10      230      5           2      False     NaN

       distance
549    0.000000
419   29.154759
713   33.015148
157   33.911650
262   35.355339
..          ...
217  196.379734
488  198.494332
261  239.895811
121  250.399681
230  279.508497

[721 rows x 15 columns]

In [19]:
pk.iloc[1]

id                  381
Name             Latios
Type_1           Dragon
Type_2          Psychic
Total               600
HP                   80
Attack               90
Defense              80
Sp. Atk             130
Sp. Def             110
Speed               110
Generation            3
Legendary          True
img_scr             NaN
distance      29.154759
Name: 419, dtype: object